body, h1, h2, h3, h4, h5, h6, p, div, ul, li, table, td, th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


body {
    background-color: #ac1212; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.main-content {
    background-color: #ddaf17; 
    width: 80%;
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}



.profile-image img {
    float: right;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}


footer {
    font-size: 14px; 
    text-align: center;
    margin-top: 20px;
}



table {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 20px;
}

table td, table th {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}



ul.custom-list {
    list-style: none;
    padding-left: 20px;
}

ul.custom-list li {
    background: url('marker.png') no-repeat left center;
    background-size: 15px 15px;
    padding-left: 25px;
    margin-bottom: 5px;
}
